<%= form_with(model: menu, local: true) do |form| %>
  <% if menu.errors.any? %>
    <div class="error-title">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
    </div>
      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <div class="error-message">
          <li><%= message %></li>
        </div>
      <% end %>
      </ul>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_area :desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
