<% if notice %>
  <p class="alert alert-info mt-2"><%= notice %></p>
<% else %>
  <p></p>
<% end %>

<p>
  <strong>Id:</strong>
  <%= @menu.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @menu.desc %>
</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Item Name</th>
      <th scope="col">Quantity</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_items.each do |menu_item| %>
      <tr>
        <td><%= menu_item.id %></td>
        <td><%= link_to menu_item.item.name, item_path(menu_item.item) %></td>
        <td><%= menu_item.quantity %></td>
        <td><%= link_to 'Show', menu_item %></td>
        <td><%= link_to 'Destroy', menu_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
