<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1>Venue Addresses<h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Venue</th>
      <th scope="col">Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venue_addresses.each do |venue_address| %>
      <tr>
        <td><%= venue_address.id %></td>
        <td><%= venue_address.venue.name %></td>
        <td><%= venue_address.address.full_address %></td>
        <td><%= link_to 'Show', venue_address %></td>
        <td><%= link_to 'Edit', edit_venue_address_path(venue_address) %></td>
        <td><%= link_to 'Destroy', venue_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venue Address', new_venue_address_path, :class => "btn btn-primary" %>
