<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @venue_address.id %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @venue_address.venue %>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue_address.address %>
</p>

<%= link_to 'Edit', edit_venue_address_path(@venue_address) %> |
<%= link_to 'Back', venue_addresses_path %>
