<%= form_with(model: decor, local: true) do |form| %>
  <% if decor.errors.any? %>
    <div class="error-title">
      <h2><%= pluralize(decor.errors.count, "error") %> prohibited this decor from being saved:</h2>
    </div>
      <ul>
      <% decor.errors.full_messages.each do |message| %>
        <div class="error-message">
          <li><%= message %></li>
        </div>
      <% end %>
      </ul>
  <% end %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_area :desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
