<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1>Menu Items</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Menu</th>
      <th scope="col">Item</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>

  <tbody>
    <% @menu_items.each do |menu_item| %>
      <tr>
        <td><%= menu_item.id %></td>
        <td><%= link_to menu_item.menu.name, menu_path(menu_item.menu) %></td>
        <td><%= link_to menu_item.item.name, item_path(menu_item.item) %></td>
        <td><%= menu_item.quantity %></td>
        <td><%= link_to 'Show', menu_item %></td>
        <td><%= link_to 'Edit', edit_menu_item_path(menu_item) %></td>
        <td><%= link_to 'Destroy', menu_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu Item', new_menu_item_path, :class => "btn btn-primary" %>
