<% if notice %>
  <p class="alert alert-info mt-2"><%= notice %></p>
<% else %>
  <p></p>
<% end %>

<p>
  <strong>Id:</strong>
  <%= @menu_item.id %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @menu_item.menu %>
</p>

<p>
  <strong>Item:</strong>
  <%= @menu_item.item %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @menu_item.quantity %>
</p>

<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %>
