<% if notice %>
  <p class="alert alert-info mt-2"><%= notice %></p>
<% else %>
  <p></p>
<% end %>

<p>
  <strong>Id:</strong>
  <%= @supplier_item.id %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @supplier_item.supplier.full_name %>
</p>

<p>
  <strong>Item:</strong>
  <%= @supplier_item.item.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @supplier_item.quantity %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @supplier_item.cost %>
</p>

<%= link_to 'Edit', edit_supplier_item_path(@supplier_item) %> |
<%= link_to 'Back', supplier_items_path %>
