<%= form_with(model: ent_item, local: true) do |form| %>
  <% if ent_item.errors.any? %>
    <div class="error-title">
      <h2><%= pluralize(ent_item.errors.count, "error") %> prohibited this ent_item from being saved:</h2>
    </div>
      <ul>
      <% ent_item.errors.full_messages.each do |message| %>
        <div class="error-message">
          <li><%= message %></li>
        </div>
      <% end %>
      </ul>
  <% end %>

  <div class="field">
    <%= form.label :ent_id %>
    <%= form.text_field :ent_id %>
  </div>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.text_field :item_id %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :ord %>
    <%= form.number_field :ord %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
