<p id="notice"><%= notice %></p>

<h1>Ent Items</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Ent</th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Ord</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ent_items.each do |ent_item| %>
      <tr>
        <td><%= ent_item.id %></td>
        <td><%= ent_item.ent %></td>
        <td><%= ent_item.item %></td>
        <td><%= ent_item.quantity %></td>
        <td><%= ent_item.ord %></td>
        <td><%= link_to 'Show', ent_item %></td>
        <td><%= link_to 'Edit', edit_ent_item_path(ent_item) %></td>
        <td><%= link_to 'Destroy', ent_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ent Item', new_ent_item_path %>
