<% if notice %>
  <p class="alert alert-info mt-2"><%= notice %></p>
<% else %>
  <p></p>
<% end %>

<div class="jumbotron">
  <h1>Ent Items<h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Ent</th>
      <th scope="col">Item</th>
      <th scope="col">Quantity</th>
      <th scope="col">Ord</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ent_items.each do |ent_item| %>
      <tr>
        <td><%= ent_item.id %></td>
        <td><%= link_to ent_item.ent.name, ent_path(ent_item.ent) %></td>
        <td><%= link_to ent_item.item.name, item_path(ent_item.item) %></td>
        <td><%= ent_item.quantity %></td>
        <td><%= ent_item.ord %></td>
        <td><%= link_to 'Show', ent_item %></td>
        <td><%= link_to 'Edit', edit_ent_item_path(ent_item) %></td>
        <td><%= link_to 'Destroy', ent_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ent Item', new_ent_item_path, :class => "btn btn-primary" %>
