<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div class="error-title">
        <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>
    </div>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <div class="error-message">
          <li><%= message %></li>
        </div>
      <% end %>
      </ul>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :telephone %>
    <%= form.text_field :telephone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>




  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
