<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div class="error-title">
        <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>
    </div>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <div class="error-message">
          <li><%= message %></li>
        </div>
      <% end %>
      </ul>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :telephone %>
    <%= form.text_field :telephone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <%= form.fields_for :client_address do |client_address| %>
    <div class="form-group">
     <%= client_address.label :address_id, 'Address:' %>
     <%= client_address.collection_select :address_id, Address.all, :id, :full_address, {}, { class: "form-control" } %>
   </div>
  <% end %>

  <div class="form-group">
    <%= form.submit :Submit, class: "btn btn-primary"  %>
  </div>
<% end %>
