<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div class="error-title">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
    </div>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <div class="error-message">
          <li><%= message %></li>
        </div>
      <% end %>
      </ul>
  <% end %>

  <div class="form-group">
    <%= form.label :client_id, "Client:" %>
    <%= form.collection_select :client_id, Client.all, :id, :full_name, {}, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label :venue_id, "Venue:" %>
    <%= form.collection_select :venue_id, Venue.all, :id, :name, {}, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label :menu_id, "Menu:" %>
    <%= form.collection_select :menu_id, Menu.all, :id, :name, {include_blank: true}, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label :menu_id, "Supplier:" %>
    <%= form.collection_select :supplier_id, Supplier.all, :id, :full_name, {include_blank: true}, { class: "form-control" } %>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label :decor_id, "Decor Package:" %>
        <%= form.collection_select :decor_id, Decor.all, :id, :name, {include_blank: true}, { class: "form-control" } %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label "Quantity" %>
        <%= form.number_field :decor_count, value: 1, class: "form-control", style: "width: 120px" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label :ent_id, "Entertainment Option:" %>
        <%= form.collection_select :ent_id, Ent.all, :id, :name, {include_blank: true}, { class: "form-control" } %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label "Quantity" %>
        <%= form.number_field :ent_count, value: 1, class: "form-control", style: "width: 120px" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :attendees %>
    <%= form.number_field :attendees, value: 1, min: 1, class: "form-control", style: "width: 120px" %>
  </div>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.datetime_select :date, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.submit :Submit, class: "btn btn-primary"  %>
  </div>
<% end %>
