<% if notice %>
  <p class="alert alert-info mt-2"><%= notice %></p>
<% else %>
  <p></p>
<% end %>

<h2>Event <%= @event.id %></h2>

<p>
  <strong>Date:</strong>
  <%= @event.date.to_formatted_s(:long_ordinal) %>
</p>

<p>
  <strong>Client:</strong>
  <%= @event.client.full_name %>
</p>

<p>
  <strong>Attendees:</strong>
  <%= @event.attendees %>
</p>

<p>
  <strong>Venue:</strong>
  <%= link_to @event.venue.name, venue_path(@event.venue) %>
</p>

<p>
  <strong>Menu:</strong>
  <%= link_to @event.menu.name, menu_path(@event.menu) %>
</p>

<p>
  <strong>Decor:</strong>
  <%= link_to @event.decor.id, decor_path(@event.decor) %>
</p>

<p>
  <strong>Ent:</strong>
  <%= link_to @event.ent.id, ent_path(@event.ent) %>
</p>

<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-primary" %>
<%= link_to 'Delete', @evemt, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
