<% if notice %>
  <p class="alert alert-info mt-2"><%= notice %></p>
<% else %>
  <p></p>
<% end %>

<div class="jumbotron">
  <h1>Ratings<h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Supplier</th>
      <th scope="col">Rating</th>
      <th scope="col">Comment</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.id %></td>
        <td><%= rating.supplier.full_name %></td>
        <td><%= rating.score %></td>
        <td><%= simple_format(rating.comment) %></td>
        <td><%= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger pull-right" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
