<%= form_with(model: venue, local: true) do |form| %>
  <% if venue.errors.any? %>
    <div class="error-title">
      <h2><%= pluralize(venue.errors.count, "error") %> prohibited this venue from being saved:</h2>
    </div>
      <ul>
      <% venue.errors.full_messages.each do |message| %>
        <div class="error-message">
          <li><%= message %></li>
        </div>
      <% end %>
      </ul>
  <% end %>

<div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cost %>
    <%= form.number_field :cost, class: "form-control"  %>
  </div>

  <%= form.fields_for :venue_address do |venue_address| %>
      <div class="form-group">
       <%= venue_address.label :address_id, 'Address:' %>
       <%= venue_address.collection_select :address_id, Address.all, :id, :full_address, {}, { class: "form-control" } %>
     </div>
 <% end %>

  <div class="form-group">
    <%= form.submit :Submit, class: "btn btn-primary"  %>
  </div>
<% end %>
