<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @venue.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @venue.cost %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
