<% if notice %>
  <p class="alert alert-info mt-2"><%= notice %></p>
<% else %>
  <p></p>
<% end %>

<p>
  <strong>Id:</strong>
  <%= @client_address.id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @client_address.client %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client_address.address %>
</p>

<%= link_to 'Edit', edit_client_address_path(@client_address) %> |
<%= link_to 'Back', client_addresses_path %>
