<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div class="error-title">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>
    </div>
      <ul>
      <% address.errors.full_messages.each do |message| %>
        <div class="error-message">
          <li><%= message %></li>
        </div>
      <% end %>
      </ul>
  <% end %>

  <div class="form-group">
    <%= form.label :street_num, "Street number" %>
    <%= form.number_field :street_num, class: "form-control", style: "width: 120px;" %>
  </div>

  <div class="form-group">
    <%= form.label :street_name %>
    <%= form.text_field :street_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code, class: "form-control", style: "width: 120px;" %>
  </div>

  <div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :province %>
    <%= form.select :province,
    options_for_select(Address::PROVINCES), {}, { class: "form-control", style: "width: 80px;" } %>
  </div>

  <%= form.hidden_field :client_exist, value: params[:client] || @client %>
  <%= form.hidden_field :venue_exist, value: params[:venue] || @venue %>

  <div class="form-group">
    <%= form.submit :Submit, class: "btn btn-primary"  %>
  </div>
<% end %>
