<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div class="error-title">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
    </div>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <div class="error-message">
          <li><%= message %></li>
        </div>
      <% end %>
      </ul>
  <% end %>

  <div class="form-group">
    <%= form.label :item_type  %>
    <%= form.select :item_type, Item.item_types.keys, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :desc %>
    <%= form.text_area :desc, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", :class => "btn btn-primary" %>
  </div>
    
<% end %>
