<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @supplier.id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @supplier.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @supplier.last_name %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @supplier.telephone %>
</p>

<p>
  <strong>Events supplied:</strong>
  <%= @supplier.events_supplied %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
