<%= form_with(model: ent, local: true) do |form| %>
  <% if ent.errors.any? %>
    <div class="error-title">
      <h2><%= pluralize(ent.errors.count, "error") %> prohibited this ent from being saved:</h2>
    </div>
      <ul>
      <% ent.errors.full_messages.each do |message| %>
        <div class ="error-message">
          <li><%= message %></li>
        </div>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, form-control %>
  </div>

  <div class="form-group">
    <%= form.label :desc %>
    <%= form.text_area :desc, form-control %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
