<%= form_with(model: event_item, local: true) do |form| %>
  <% if event_item.errors.any? %>
    <div class="error-title">
      <h2><%= pluralize(event_item.errors.count, "error") %> prohibited this event_item from being saved:</h2>
    </div>

      <ul>
      <% event_item.errors.full_messages.each do |message| %>
        <div class="error-message">
          <li><%= message %></li>
        </div>
      <% end %>
      </ul>
  <% end %>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.text_field :item_id %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id %>
  </div>

  <div class="field">
    <%= form.label :supplier_id %>
    <%= form.text_field :supplier_id %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
