<% if notice %>
  <p class="alert alert-info mt-2"><%= notice %></p>
<% else %>
  <p></p>
<% end %>

<div class="jumbotron">
  <h1>Event Items<h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Item</th>
      <th scope="col">Event</th>
      <th scope="col">Supplier</th>
      <th scope="col">Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_items.each do |event_item| %>
      <tr>
        <td><%= event_item.id %></td>
        <td><%= event_item.item %></td>
        <td><%= event_item.event %></td>
        <td><%= event_item.supplier %></td>
        <td><%= event_item.quantity %></td>
        <td><%= link_to 'Show', event_item %></td>
        <td><%= link_to 'Edit', edit_event_item_path(event_item) %></td>
        <td><%= link_to 'Destroy', event_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Item', new_event_item_path, :class => "btn btn-primary" %>
